:root {
  --COLOR_BTN_BLUE: #0065ff;
}

.wrapperInfo {
  display: flex;
  align-items: center;
}

.avatarCommentWrapper {
  width: 6%;
}

.avatarCommentsType0 {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  object-fit: cover;
  object-position: center;
}

.avatarCommentsType1 {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
}

.wrapperContent {
  padding-left: 5px;
  width: 94%;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}

.name {
  font-weight: bold;
}

.txtBlackInfo {
  margin-right: 50px;
  font-size: 13px;
}

.wrapperBottomComment {
  margin-top: 10px;
}

.containerCommentsType1 {
  padding-left: 30px;
}

.containerComments {
  max-height: 350px;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tagName {
  color: var(--COLOR_BTN_BLUE);
  font-weight: bold;
  font-size: 14px;
}

.contentComments {
  font-size: 14px;
}

.contentWrapper {
  padding-left: 40px;
}
.containerComments {
  padding-top: 10px;
  padding-bottom: 10px;
}

.wrapperContent:hover {
  cursor: pointer;
}

.createCommentWrapper {
  margin-top: 10px;
  border-top: 1px dashed black;
}
