.gr {
  display: flex;
}

.loadingg {
  position: absolute;
  right: 80px;
  bottom: 40px;
}

.txt-blue {
  color: rgb(59 130 246);
  font-weight: bold;
}

.bg-blue {
  background-color: rgb(59 130 246) !important;
}

.gr:active {
  border-radius: 7px;
  box-shadow: 2px 2px 5px rgb(59 130 246) !important;
}

.btnSelect {
  background-color: rgb(59 130 246);
  display: flex;
  margin: 10px 10px;
  padding: 10px;
  color: aliceblue;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

h4 {
  color: aliceblue;
  font-size: 1rem;
  margin-bottom: 0px;
}

.btnSelect:active {
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(59 130 246) !important;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control:active {
  border-radius: 7px;
  box-shadow: 2px 2px 5px rgb(59 130 246) !important;
}

.display1-size {
  font-size: 30px !important;
}

.img {
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 50%;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.register {
  height: 65vh;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.manage{
  height: 72vh;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.manage::-webkit-scrollbar {
  display: none;
}
.register::-webkit-scrollbar {
  display: none;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-recruitment {
  background-color: #3cb371 !important;
  padding: 10px !important;
  border-radius: 10px !important;
  padding-left: 20px;
  width: 400px;
}

/* .bg-recruitment:active {
  border-radius: 10px;
  box-shadow: 2px 2px 5px #3cb371 !important;
} */

.main-content {
  margin-top: 20px;
}

.item-job-recruitment {
  display: flex;
  align-items: baseline;
  margin-right: 20px;
}

.group-recruitment {
  background-color: hwb(204 49% 5%);
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 20px;
}

.border {
  border-bottom: solid 1px gray;
}

.item {
  margin-bottom: 10px;
}

.item:last-child {
  margin-bottom: 0px;
}

.item-recruitment {
  background-color: #3cb371;
  width: fit-content;
  color: #fff;
  border-radius: 10px;
  padding: 0px 5px;
  margin-left: 10px;
  margin-top: 5px;
}

.item-recruitment-description {
  position: relative;
  border-radius: 10px;
  padding: 0px 5px;
  margin-left: 20px;
  margin-top: 5px;
}

.item-recruitment-description::after {
  content: '';
  width: 4px;
  height: 4px;
  background-color: #000;
  position: absolute;
  border-radius: 50%;
  left: -5px;
  top: 14px;
}

.btn-recuitment {
  display: flex;
  justify-content: center;
}

.benefit {
  display: flex;
  flex-wrap: wrap;
}

/* css list job apply */
.item-job-apply {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.group-job-apply {
  background-color: #fff;
  box-shadow: 2px 2px 5px 3px #E0F4FF;
  border-radius: 10px;
  padding: 10px 40px;
  width: 82%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.item-job {
  display: flex;
  align-items: baseline;
}

.date {
  align-items: flex-end;
  margin-top: 0;
  width: auto;
}

.tam {
  display: flex;
}

.text-green {
  color: #3cb371;
  font-weight: bold;
}

.text-green:active {
  box-shadow: 2px 2px 5px #3cb371 !important;
}

.img-job-apply {
  margin-right: 10px;
}

.job {
  display: flex;
}

.job-apply {
  display: flex;
  justify-content: space-between;
}

.download {
  color: #3cb371;
  font-weight: bold;
  padding: 3px;
  border-radius: 5px;
}

.download:hover {
  color: #fff;
  background-color: #61d897;
  box-shadow: 2px 2px 5px #3cb371 !important;
  border-color: #fff;
}

h1,
h2 {
  font-size: 1rem;
}

.defaultImage {
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selecttype {
  line-height: 2;
  width: 100%;
  height: calc(2rem + 1rem + 2px);
  padding: 0;
}

.element.style {
  border-color: rgb(238, 238, 238);
}

.btnBottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.css-b62m3t-container{
  width: 72%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  border-color: #000;
}

.css-1dimb5e-singleValue {
  font-weight: bold;
}

.text-p{
  word-break: break-all;
}

.pass{
  display: flex;
  flex-direction: row;
}

