.manage-item-job-apply {
    background-color: #fff;
    box-shadow: 2px 2px 5px 3px #E0F4FF;
    border-radius: 10px;
    padding: 10px 40px;
    width: 80%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .item-job {
    display: flex;
    align-items: baseline;
  }
  
  .tam {
    display: flex;
  }

  .defaultImage {
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .avata {
    height: 80px;
    border-radius: 50%;
  }
  
  img{
    max-width: fit-content;
  }
  .datetime{
    display: flex;
    align-items: center;
  }

  .btnBottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
  }
  
  .txtBtnBottom {
    font-size: 16px;
    font-weight: bold;
    color: #26C281;
    padding: 2px 5px;
    border-radius: 10px;
  }

  .selectType{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.1rem;
  }
  
  .text-p{
    word-break: break-all;
  }
  
  