/* colors.css */
:root {
  --COLOR_GREY: #808080;
  --COLOR_BLACK: #000000;
  --COLOR_WHITE: #ffffff;
}

.body-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.close {
  font-size: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
}

.headerModal {
  background: 'red';
}

.content-hidden-post {
  z-index: -999;
  visibility: hidden;
  position: absolute;
}

.avatar-user-reacted-list {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-user-header-post {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-default-user-header-post {
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-button-to-left-right {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  z-index: 999;
}

.image-file-container {
  display: flex;
}


.image-file {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.btn-delete-image {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: var(--COLOR_GREY);
  color: var(--COLOR_BLACK);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-menu {
  padding-left: 23%;
}

.avatar-wrapper-header {
  width: 7%;
}

.text-header-name-wrapper {
  width: 83%;
}

.button-menu-header-wrapper {
  width: 10%;
}

.like-button-bottom-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-content-body-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper-infor-job {
  padding-left: 8px;
}

.text-location-body-recruitment {
  display: flex;
}

.icon-location-recruitment {
  margin-right: 5px;
}

.list-infor-about-recruitment {
  display: flex;
  flex-wrap: wrap;
}

.icon-item-infor-job-recruitment {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.txt-item-recruitment {
  padding-left: 5px;
}

.button-see-more-recruitment {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  color: COLOR_WHITE;
  border-radius: 5px;
  color: var(--COLOR_WHITE);
}

.icon-arrow-left {
  margin-left: 5px;
}

.typeAuthorShow {
  background: var(--COLOR_GREY);
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 5px;
  border-radius: 10px;
  color: black;
  font-weight: 300;
  margin-left: 5px;
}

.userLikedWrapper {
  display: flex;
  align-items: center;
}

.list-user-liked {
  margin-top: 2px;
  margin-bottom: 2px;
}

.textLocationRecruitment {
  font-size: 14px;
}

.wrapperContentRecruitment {
  padding-top: 15px;
}
/* .like {
  color: #000000 !important;
}
.unlike {
  color: #000000 !important;
} */
