:root {
  --primary-color: #0065ff;
}

.containerImagesProfileHeader {
  position: relative;
  border-radius: 15px;
  cursor: pointer;
}

.containerBodyProfile {
  padding-right: 50px;
}

.backgroundHeaderProfile {
  background: rgb(228 230 235);
  width: 800px;
  height: 450px;
  border-radius: 15px;
  border: 5px solid #ffff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.avatarHeaderProfile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  cursor: pointer;
  inset: 0;
  border-radius: 150px;
}

.avatarHeaderProfileDefault {
  border-radius: 150px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  cursor: pointer;
  inset: 0;
}

.wrapperAvatarImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  bottom: -30px;
  left: 10px;
  border: 5px solid #ffff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  background-color: rgb(228 230 235);
  border-radius: 150px;
  cursor: pointer;
}

.containerUserProfileInfo {
  padding-top: 40px;
}

.txtNameProfile {
  font-weight: bold;
  float: left;
  font-size: 20px;
}

.txtInfoBodyProfile {
  padding-left: 10px;
  color: black;
}

.lineOfInfoBodyProfile {
  display: flex;
  margin-top: 10px;
}

.btn-header-profile {
  width: 100%;
}
.btn-react-header-profile {
  padding: 5px 10px;
  background: var(--primary-color);
  border-radius: 5px;
  margin-right: 50px;
  color: white;
  font-weight: bold;
}

.button-header-profile-react {
  padding-right: 6px;
}

.btn-react-header-profile-menu {
  padding: 5px 10px;
  background: var(--primary-color);
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.txtTitleInUserProfile {
  color: black;
  font-weight: bold;
}

.wrapperTitleUserProfile {
  display: flex;
  align-items: center;
}

.iconArrowToRightUserProfile {
  padding-left: 2px;
  padding-right: 2px;
}

.spinnerLoading {
  position: absolute;
  top: 10px;
}

.imageUpdate {
  object-fit: cover;
  margin-top: 50px;
}

.imageUpdating {
  object-fit: cover;
  margin-top: 50px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.imageUpdateHadSave {
  border-width: 10px;
  border-color: green;
}

.imageUpdateUnSave {
  border-width: 10px;
  border-color: red;
}

.buttonHeaderGoBack {
  position: absolute;
  z-index: 1;
  left: -70px;
  top: 0px;
}

.buttonHeaderGoBack:hover {
  position: absolute;
  z-index: 1;
  left: -70px;
  top: 0px;
  scale: 1.2;
  transition: all 0.5s;
}

.wrapperLoadingOfModalImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.buttonWrapperIconCamera {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background: rgb(228 230 235);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  line-height: 40px;
  padding: 0px;
  margin: 0px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.buttonWrapperIconCameraBackground {
  right: 10px;
  bottom: 10px;
}

.buttonWrapperIconCameraAvatar {
  right: 0px;
  bottom: 0px;
  object-fit: cover;
  object-position: center;
}