:root {
  --primary-color: #0065ff;
}

.containerImagesProfileHeader {
  position: relative;
  background: grey;
  border-radius: 15px;
  cursor: pointer;
}

.containerBodyProfile {
  padding-right: 50px;
}

.backgroundHeaderProfile {
  width: 1280px;
  height: 450px;
  object-fit: cover;
  border: 5px solid #ffff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: grey;
  border-radius: 15px;
}

.avatarHeaderProfile {
  width: 150px;
  height: 150px;
  object-fit: cover;
  bottom: -30px;
  left: 10px;
  border: 5px solid #ffff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  background-color: grey;
  border-radius: 150px;
  cursor: pointer;
}

.avatarHeaderProfileDefault {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  object-fit: cover;
  bottom: -30px;
  left: 10px;
  position: absolute;
}

.containerUserProfileInfo {
  padding-top: 50px;
}

.txtNameProfile {
  font-weight: bold;
  float: left;
  font-size: 20px;
}

.txtInfoBodyProfile {
  padding-left: 10px;
  color: black;
}

.lineOfInfoBodyProfile {
  display: flex;
  margin-top: 10px;
}

.btn-header-profile {
  width: 100%;
}
.btn-react-header-profile {
  padding: 5px 10px;
  background: var(--primary-color);
  border-radius: 5px;
  margin-right: 50px;
  color: white;
  font-weight: bold;
}

.button-header-profile-react {
  padding-right: 6px;
}

.btn-react-header-profile-menu {
  padding: 5px 10px;
  background: var(--primary-color);
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.txtTitleInUserProfile {
  color: black;
  font-weight: bold;
}

.wrapperTitleUserProfile {
  display: flex;
  align-items: center;
}

.iconArrowToRightUserProfile {
  padding-left: 2px;
  padding-right: 2px;
}

.spinnerLoading {
  position: absolute;
  top: 10px;
}

.imageUpdate {
  object-fit: cover;
  margin-top: 50px;
}

.imageUpdating {
  object-fit: cover;
  margin-top: 50px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.imageUpdateHadSave {
  border-width: 10px;
  border-color: green;
}

.imageUpdateUnSave {
  border-width: 10px;
  border-color: red;
}

.buttonHeaderGoBack {
  position: absolute;
  z-index: 1;
  left: -70px;
  top: 0px;
}
