.icon {
  position: 'absolute';
  left: 35;
  top: 20px;
  font-size: 20;
}

.search1 {
  width: '100%';
  margin-bottom: 20;
  margin-top: 20;
  padding-left: 60;
  padding-right: 30;
  border-width: '1px';
  height: '50px';
  border-radius: 50;
}
.item-language {
  width: 100%;
  height: 70px;
  border-radius: 15px;
  padding: 0;
}
.item-language:hover {
  background-color: #dadde1;
}

.name-language {
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-top: 20px;
  color: black;
}

.avatarSetting {
  object-fit: cover;
  object-position: center;
}
