:root {
  --primary-color: #0065ff;
}

.containerImagesProfileHeader {
  position: relative;
}

.containerBodyProfile {
  padding-left: 50px;
  padding-right: 50px;
}

.backgroundHeaderProfile {
  
}

.avatarHeaderProfile {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  object-fit: cover;
  bottom: -30px;
  left: 10px;
  border: 5px solid #ffff;
  position: absolute;
}

.avatarHeaderProfileDefault{
  width: 150px;
  height: 150px;
  border-radius: 150px;
  object-fit: cover;
  bottom: -30px;
  left: 10px;
  position: absolute;
}

.containerUserProfileInfo {
  padding-top: 50px;
}

.txtNameProfile {
  font-weight: bold;
  float: left;
  font-size: 20px;
}

.txtInfoBodyProfile {
  padding-left: 10px;
  color: black;
}

.lineOfInfoBodyProfile {
  display: flex;
  margin-top: 10px;
}

.btn-header-profile {
  width: 100%;
}
.btn-react-header-profile {
  padding: 5px 10px;
  background: var(--primary-color);
  border-radius: 5px;
  margin-right: 50px;
  color: white;
  font-weight: bold;
}

.button-header-profile-react {
  padding-right: 6px;
}

.btn-react-header-profile-menu {
  padding: 5px 10px;
  background: var(--primary-color);
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.txtTitleInUserProfile{
  color: black;
  font-weight: bold;
}

.wrapperTitleUserProfile{
  display: flex;
  align-items: center;
}

.iconArrowToRightUserProfile{
  padding-left: 2px;
  padding-right: 2px;
}

.spaceSkletonUserProfile{
  padding: 10px;
}